<% if @albums.count == 0 %>
  <h1>There are currently no albums in this Genre</h1>
<% else%>
  <h1><%= params[:genre] %></h1>
  <ul>
    <% @albums.each do |album| %>
      <li>
        <% if album.album_cover.attached? %>
          <%= link_to image_tag(album.album_cover.variant(resize_to_fill: [130, 150, gravity: 'north'])), album_path(album)%>
          <% end %> 
        </li>
      <li><%= link_to album.title, album_path(album) %></li>
      <li><%= album.artist %></li>
    <% end %>
  </ul>
<% end %>

