<h1 class="text-4xl">Index View</h1>
<% @albums.each do |album| %>
  <div>
    <h1><%= album.title %></h1>
    <h1><%= album.artist %></h1>
  </div>
<% end %>

<%= link_to "Add Album", new_album_path %>